In [3]:
a=50
b=6
if a>b: print("a is geater than b")

a is geater than b

In [4]:
a=2
b=3330
print("A") if a>b else print("B")

B

In [7]:
l=int(input("enter length"))
b=int(input("enter breadth"))
print("It is a square") if l==b else print("It is a rectangle")

enter l4
enter b4
square

In [20]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print(f"{a} is greater") if a>b else print("Both are equal") if a==b else print(f"{b} is greater")

enter first number4
enter second number4
Both are equal

In [22]:
for num in [20,11,9,66,4,89,44]:
    if num%2==0:
        pass
    else:
        print(num)

11
9
89

In [23]:
for val in "string":
    if val=="i":
        continue
    print(val)
print("The End")

s
t
r
n
g
The End

In [24]:
for val in "string":
    if val=="i":
        break
    print(val)
print("The End")

s
t
r
The End

In [25]:
fruits=["apple", "banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [27]:
for i in range(4,20,2):
    print(i)

4
6
8
10
12
14
16
18

In [31]:
for i in range(4,20,2):
    print(i,end=' ')

4 6 8 10 12 14 16 18

In [40]:
a=int(input("enter a number"))
sum=0
for i in range(1,a+1):
    sum=sum+i
    print(i)
print(sum)

enter a number5
1
2
3
4
5
15

In [39]:
number = int(input("Enter number:"))
if number<0:
    print("only positive nos. are allowed")
else:
    sum=0
    while(number>0):
        sum += number
        number = number - 1
        print(number)
print("The sum is", sum)

Enter number:5
4
3
2
1
0
The sum is 15

In [43]:
list=["abc", 34, 'true ',40,"male","unma"]

In [44]:
print(list[2:5])

['true ', 40, 'male']

In [50]:
thislist=["apple", "banana","cherry"]
thislist.remove("banana")
thislist

['apple', 'cherry']

In [49]:
thislist[1]="blackcurrant"

In [51]:
thislist1=["apple", "banana","cherry"]
thislist1.sort()
print(thislist1)
thislist1.sort(reverse=True)
print(thislist1)

['apple', 'banana', 'cherry']
['cherry', 'banana', 'apple']

In [ ]:
mylist=[]
n=int(input("enter number of elements"))
for i in range(0,n):
    a=input()
    mylist.append(a)
    
mylist.sort()
print(mylist)
mylist.sort(reverse=True)
print(mylist)

In [1]:
list=[]
num=int(input("enter number of elements"))
for i in range(num):
    elements=input()
    list.append(elements)
print(list)
list.sort()
print(list)
list.sort(reverse=True)
print(list)

enter number of elements3
apple
87
True
['apple', '87', 'True']
['87', 'True', 'apple']
['apple', 'True', '87']

In [2]:
b=[i for i in range(0,20) if i<5]
print(b)

[0, 1, 2, 3, 4]

In [6]:
lis=("apple","banana","cherry","orange","kiwi","melon","mango")
print(lis[-3:-1])

('kiwi', 'melon')

In [10]:
tuple1=("a","b","c")
tuple2= (1,2,3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)